In [3]:
import pandas as pd

In [4]:
from pandas import read_csv, DataFrame, Series
c = read_csv('train.csv')

In [4]:
#1 Определить пассажиров мужского пола из первого класса.

In [27]:
print(c.groupby(['Sex','Pclass'])['PassengerId'].count())

Sex     Pclass
female  1          94
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: PassengerId, dtype: int64

In [7]:
#2 Определить количество детей из второго класса
c[c.Age < 18].groupby(['Pclass'])['PassengerId'].count()

Pclass
1    12
2    23
3    78
Name: PassengerId, dtype: int64

In [8]:
#3 Определить количество одиноких пассажиров (без родственников)

In [9]:
c.PassengerId[c.Parch.isnull()].count()

0

In [11]:
#4 Определить количество пассажиров, севших в порту Queenstown с дорогими билетами
c[c.Fare > c.Fare.median()].groupby(['Embarked'])['PassengerId'].count()

Embarked
C    116
Q     20
S    306
Name: PassengerId, dtype: int64

In [22]:
#5 Определить средний возраст пассажиров женского пола
c.groupby ([c.Sex == 'female'])['Age'].median()

Sex
False    29.0
True     27.0
Name: Age, dtype: float64

In [1]:
#6 Определить количество одиноких пожилых людей

In [6]:
c.PassengerId[c.Age > 65].count()

8

In [7]:
#7 Вывести статистику по детях

In [10]:
import matplotlib.pyplot as plt

In [ ]:
c.pivot_table(c[c.Age < 18], 'Pclass', 'Age', 'count').plot(kind='bar', stacked=True)